<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}" >
<head>
<meta charset="UTF-8">
<title>列表</title>
</head>
<body>
<div  layout:fragment="content" >
		     <table th:each="user:${list}">
		      <tr> 
		        <td  th:text="${user.uid}"></td>
		        <td  th:text="${user.name}"></td>
		        <td >
			        <button shiro:hasPermission="userInfo:add" type="button" class="btn  btn-primary" onclick="add()">
			        <i class="fa fa-plus" aria-hidden="true"></i>添加773
	                </button>
                </td>
		        <td >
			        <button shiro:hasPermission="userInfo:del"  type="button" class="btn  btn-primary" onclick="xxx()">
			        <i class="fa fa-plus" aria-hidden="true"></i>删除
	                </button>
                </td>
		      </tr>
		     </table>		   
		   
</div>
</body>
</html>